<!DOCTYPE html>
<html>
<head>
<title>HEALTHY FOOD</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: none}
.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/imgh/a1.jpg");
  -webkit-filter: contrast(90%);
  filter: contrast(90%);
  min-height: 95%;
  
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top w3-hide-small">
  <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
    <a href="home" class="w3-bar-item w3-button">HOME</a>
    <a href="Healthyfood" class="w3-bar-item w3-button">Healthy food</a>
    <a href="Fattyfood" class="w3-bar-item w3-button">Fatty food</a>
    <a href="sugar" class="w3-bar-item w3-button">Sugar</a>
    <a href="general" class="w3-bar-item w3-button">General</a>
    <a href="#menu" class="w3-bar-item w3-button">MENU</a>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-padding">
    <span class="w3-tag w3-xlarge">Open from 10am to 12pm</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white w3-hide-small" style="font-size:100px">Healthy<br>Food</span>
    
    <p><a href="#menu" class="w3-button w3-xxlarge w3-black">Let me see the menu</a></p>
  </div>
</header>

<!-- Menu Container -->
<div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="menu">
  <div class="w3-content">
  
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">THE MENU</h1>
    <div class="w3-row w3-center w3-border w3-border-dark-grey">    
      <a href="javascript:void(0)" onclick="openMenu(event, 'Healthy Food');">
        <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Healthy Food</div>
      </a>
     
      
      
   

    <!-- ผัดผักออร์แกนิค -->
    <div id="Healthy Food" class="w3-container menu w3-padding-32 w3-white">
      <h4><b><a href="#เมี่ยง" class="w3-bar-item w3-yellow w3-mobile w3-button"  >เพิ่มลงในตะกร้า </a></b></h4>
      <img src="/imgh/a2.jpg" alt="Norway" style="width:50%">           
      <h5><b>เมี่ยงคะน้าออร์แกนิค</b></h5> <h5><span class="w3-right w3-tag w3-dark-grey w3-round">175 Baht</span></h5> 
      <h5><p>Organic Kale Leaf with Condiments Do It Yourself Appetizer</p></h5>
      <h5><p class="w3-text-grey">Calorie:</p></h5>
      <h4><b><a href="#เมี่ยงคำ" class="w3-bar-item w3-yellow w3-mobile w3-button"  >เพิ่มลงในตะกร้า </a></b></h4>
      <h5><b>เมี่ยงคำ</b></h5> <h5><span class="w3-right w3-tag w3-dark-grey w3-round">155 Baht</span></h5> 
      <h5><p>Wildbetal Leaf with Condiments Do It Yourself Appetizer</p></h5>
      <h5><p class="w3-text-grey">Calorie:</p></h5>
      <hr>

      <h4><b><a href="#ต้มจืดแตงกวาหมูสับ" class="w3-bar-item w3-yellow w3-mobile w3-button"  >เพิ่มลงในตะกร้า </a></b></h4>
      <img src="/imgh/a3.jpg" alt="Norway" style="width:50%">
      <span class="w3-right w3-tag w3-dark-grey w3-round">135 Baht</span></h1>      
      <h5><b>ต้มจืดแตงกวาหมูสับ</b></h5> 
      <h5><p>Cucumber Soup with Marinated Minced Pork </p></h5>
      <h5><p class="w3-text-grey">Calorie:</p></h5>
      <hr>

      <h4><b><a href="#ผัดผักรวม" class="w3-bar-item w3-yellow w3-mobile w3-button"  >เพิ่มลงในตะกร้า </a></b></h4>
      <img src="/imgh/a4.webp" alt="Norway" style="width:50%">
      <span class="w3-right w3-tag w3-dark-grey w3-round">120 Baht</span></h1>      
      <h5><b>ผัดผักรวม</b></h5> 
      <h5><p>Sor-Fried Mixed Vegetable </p></h5>
      <h5><p class="w3-text-grey">Calorie:</p></h5>
      <hr>     
      
      
        <h4><b><a href="น้ำพริกหนุ่ม" class="w3-bar-item w3-yellow w3-mobile w3-button"  >เพิ่มลงในตะกร้า </a></b></h4>
        <img src="/imgh/a5.jpg" alt="Norway" style="width:50%">
        <span class="w3-right w3-tag w3-dark-grey w3-round">45 Baht</span></h1>      
        <h5><b>น้ำพริกหนุ่ม </b>  </h5>
        <h5><p >Green Chili Dip</p></h5>
        <h5><p class="w3-text-grey">Calorie:</p></h5>
        <hr>

        <h4><b><a href="แกงไข่น้ำ" class="w3-bar-item w3-yellow w3-mobile w3-button"  >เพิ่มลงในตะกร้า </a></b></h4>
        <img src="/imgh/a6.jpg" alt="Norway" style="width:50%">
        <span class="w3-right w3-tag w3-dark-grey w3-round">50 Baht</span></h1>      
        <h5><b>แกงไข่น้ำ </b>  </h5>
        <h5><p >Clear egg soup</p></h5>
        <h5><p class="w3-text-grey">Calorie:</p></h5>
        <hr>

      
      <h4><b><a href="#คั่วฝักกูด" class="w3-bar-item w3-yellow w3-mobile w3-button"  >เพิ่มลงในตะกร้า </a></b></h4>
      <img src="/imgh/a7.jpg" alt="Norway" style="width:50%">
      <span class="w3-right w3-tag w3-dark-grey w3-round">95 Baht</span></h1>      
      <h5><b>คั่วฝักกูด</b></h5> 
      <h5><p>Stir-Fried Pork Fern </p></h5>
      <h5><p class="w3-text-grey">Calorie:</p></h5>
      <hr>

      <h4><b><a href="#แกงจืดเต้าหู้" class="w3-bar-item w3-yellow w3-mobile w3-button"  >เพิ่มลงในตะกร้า </a></b></h4>
      <img src="/imgh/a8.jpg" alt="Norway" style="width:50%">
      <span class="w3-right w3-tag w3-dark-grey w3-round">60 Baht</span></h1>      
      <h5><b>แกงจืดเต้าหู้ </b> 
      <h5><p>Tofu clear soup with minced pork</p></h5>
      <h5><p class="w3-text-grey">Calorie:</p></h5>
      <hr>

      <h4><b><a href="#แกงจืดเต้าหู้สาหร่าย" class="w3-bar-item w3-yellow w3-mobile w3-button"  >เพิ่มลงในตะกร้า </a></b></h4>
      <img src="/imgh/a9.jpg" alt="Norway" style="width:50%">
      <span class="w3-right w3-tag w3-dark-grey w3-round">60 Baht</span></h1>      
      <h5><b>แกงจืดเต้าหู้สาหร่าย</b></h5> 
      <h5><p>Tofu and seaweed clear soup with minced pork</p></h5>
      <h5><p class="w3-text-grey">Calorie:</p></h5>
      <hr>

      <h4><b><a href="#แกงจืดตำลึง" class="w3-bar-item w3-yellow w3-mobile w3-button"  >เพิ่มลงในตะกร้า </a></b></h4>
      <img src="/imgh/a10.webp" alt="Norway" style="width:50%">
      <span class="w3-right w3-tag w3-dark-grey w3-round">50 Baht</span></h1>      
      <h5><b>แกงจืดตำลึง</b></h5> 
      <h5><p>Ivy gourd clear soup with pork</p></h5>
      <h5><p class="w3-text-grey">Calorie:</p></h5>
      <hr>

      <h4><b><a href="#แกงจืดผักหวาน" class="w3-bar-item w3-yellow w3-mobile w3-button"  >เพิ่มลงในตะกร้า </a></b></h4>
      <img src="/imgh/a11.jpg" alt="Norway" style="width:50%">
      <span class="w3-right w3-tag w3-dark-grey w3-round">60 Baht</span></h1>      
      <h5><b>แกงจืดผักหวาน</b></h5> 
      <h5><p>Pak Waan vegetable clear soup</p></h5>
      <h5><p class="w3-text-grey">Calorie:</p></h5>
      <hr>

      <h4><b><a href="#ไข่ตุ๋นปลา" class="w3-bar-item w3-yellow w3-mobile w3-button"  >เพิ่มลงในตะกร้า </a></b></h4>
      <img src="/imgh/a12.webp" alt="Norway" style="width:50%">
      <span class="w3-right w3-tag w3-dark-grey w3-round">60 Baht</span></h1>      
      <h5><b>ไข่ตุ๋นปลา </b> 
      <h5><p>Steamed egg with Fish  </p></h5>
      <h5><p class="w3-text-grey">Calorie:</p></h5>
      <hr>

      
    </div>

    
    <br>

  </div>
</div>


<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-red";
}
document.getElementById("myLink").click();
</script>

</body>
</html>