<!DOCTYPE html>
<html>
<head>
<title>ประเภทของอาหาร</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


    
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="home" class="w3-bar-item w3-red w3-button">HOME</a>
    <input type=button onClick='window.history.back()' value='No'>
    <!-- Float links to the right. Hide them on small screens -->

    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <p class="w3-center" style="max-width:2000px";> 
  </div>
</header>

<!-- Page content -->
<div class="w3-content w4-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w5-border-bottom w3-border-light-grey w5-padding-16">ประเภทของอาหาร</h3>
  </div>
  <div class="w3-row-padding">
    <div class="w3-col l5 m6 w3-margin-bottom ">
      <div class="w3-display-container ">
        <div class="w3-display-topleft w3-black w3-padding">Healthy</div>
        <a href="Healthyfood">
        <button class="w3-button w3-block  w3-green w3-margin-bottom">
          <img src="/imgFood1/hea1.webp" alt="House" style="width:100%" ></a>
      </button>
      </div>
    </div>
    <div class="w3-col l5 m6 w3-margin-bottom ">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Fat</div>
        <a href="Fattyfood">
        <button class="w3-button w3-block w3-red w3-margin-bottom">
        <img src="/imgFood1/hea2.jpg" alt="House" style="width:90%"></a>
      </button>
      </div>
    </div>
   </div>

  <div class="w3-row-padding">
   
    <div class="w3-col l5 m6 w3-margin-bottom w3-content">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">Sugar</div>
        <a href="sugar">
        <button class="w3-button w3-block w3-pink w3-margin-bottom">
        <img src="/imgFood1/hea3.jpg" alt="House" style="width:99%"></a>
      </button>
      </div>
    </div>
    <div class="w3-col l5 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-black w3-padding">General</div>
        <a href="general">
        <button class="w3-button w3-block w3-yellow w3-margin-bottom">
        <img src="/imgFood1/hea4.jpg" alt="House" style="width:99%"></a>
      </button>
      </div>
    </div>
    
  </div>

</body>
</html>
